// Scaffolding
@body-bg:    #fff;
@text-color: #1e1e1e;

// Fonts
@font-primary: 'PT Sans Narrow', sans-serif;

@font-face {
	font-family: 'StrongGlasgow';
	src: url('../../src/fonts/StrongGlasgow.ttf') format('truetype');
}

// Navbar
@navbar: rgba(0, 0, 0, .7);
@navbar-link: #fff;
@navbar-active: #000;
@link-hover: #86b2d9;

// Transitions
.transition (@transition) {
	-webkit-transition: @transition;  
	-moz-transition:    @transition;
	-ms-transition:     @transition; 
	-o-transition:      @transition;  
}

.backstretch {
	overflow: hidden;
	position: fixed;
	z-index: -9999;
	margin: 0;
	padding: 0;
	top:0;
	right: 0;
	bottom: 0;
	left: 0;
}
.navbar {
	min-height: 30px;
	background: @navbar;

	.navbar-nav {
		>li {
			>a {
				padding-top: 5px;
				padding-bottom: 5px;
				color: @navbar-link;
				font-family: @font-primary;

				&:hover {
					.transition(color 0.3s ease);
					color: @link-hover;
				}
			}

			&.active {
				>a {
					color: @navbar-link;
					background: @navbar-active;

					&:hover {
						.transition(color 0.3s ease);
						color: @link-hover;
						background: @navbar-active;
					}
				}
			}
		}
	}
}
main {
	margin-top: 50px;
	.logo {
		.header-img {
			img {
				height: 150px;
				margin: 0 auto;
			}
		}
		h1 {
			font-family: 'StrongGlasgow', sans-serif;
			text-align: center;
		}
	}
}


 